body {
  background-color: rgb(43, 43, 43);
  color: rgb(229, 255, 0);
}

h1 {
  text-transform: capitalize;
  text-align: center;
  text-decoration: underline blueviolet;
}

li {
  color: #ffffff;
  font-style: italic;
  font-family: fantasy;
  text-decoration: #111;
}