body{
    background-color: rgb(52,52,52);
    font-family: sans-serif;
    text-align: center;
}
p{
    color: skyblue;
    text-transform: uppercase;
}
h1{
    color: white;
}
li{
    color: whitesmoke;
    list-style: none;
    padding: 0.5rem;
}